.pill {
  background-color: orangered;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 16px;
}

.grid-container-sez {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item-sez {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.main-info-sez {
  background-color: rgba(255, 69, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.small-main-grid {
  font-size: 15px;
  display: grid;
  grid-template-columns: auto auto auto;
}

